@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You can find the content for this site here <a href="https://github.com/MuyiComms/CI-9_Testing/actions">building Web apps with ASP.NET Core</a>.</p>
</div>
